.snav{background: #648bdc;}
.whitetext{color: white;}
.item:hover{background: #648bdc;}
.item{background: #5576b9;}
.hrefitem:hover{color: white;}
.hrefitem{color: white;}
.bodys {
    margin: 0;
    background: #2f3130;
    color: #fff;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.html{background: #2f3130;}