.snav{background: #183265;}
.whitetext{color: white;}
.item:hover{background: #619bc2;}
.item{background: #607683;}
.hrefitem:hover{color: white;}
.hrefitem{color: white;}
.bodys {
    margin: 0;
    background: #2f3130;
    color: #fff;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.html{background: #2f3130;}