<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Парки</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container-fluid" style="background: #2f3130">
    <nav class="navbar navbar-light snav">
        <div class="container-fluid snav">
            <a class="navbar-brand" href="/">
                <img th:src="@{/img/nature.png}" alt="" width="80" height="80"/>
            </a>
            <h2 class="whitetext">Городские парки</h2>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary" style="background: #5576b9; border: transparent; border-radius: 20px;
                    font-size: 20px" th:text="${authname}" type="submit"></button>
            </form>
        </div>
    </nav>
    <div class="container-fluid" style="background: #b4b4b4">
        <div class="row justify-content-start " style="background: #b4b4b4">
            <div class="col-8 border bg-dark px-4" style="background: #b4b4b4">
                <h3>Парки</h3>
                <table class="table" style="background: #b4b4b4">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Город</th>
                        <th scope="col">Название</th>
                        <th scope="col">Тип</th>
                        <th scope="col">Водоем</th>
                        <th scope="col">Дата строительства</th>
                        <th scope="col">Редактировать</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="var : ${list}">
                        <td th:text="${var.getId()}"></td>
                        <td th:text="${var.getCity().getName()}"></td>
                        <td th:text="${var.getName()}"></td>
                        <td th:text="${var.getType()}"></td>
                        <td th:if="${var.isWater_place()}" th:text="Есть"></td>
                        <td th:if="${!var.isWater_place()}" th:text="Нет"></td>
                        <td th:text="${var.getBuild_date()}"></td>
                        <td>
                            <form action="#" th:action="@{/park/refactor_first}" th:object="${var}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <input name="name" type="hidden" th:value="${var.getName()}"/>
                                <input name="type" type="hidden" th:value="${var.getType()}"/>
                                <input name="water_place" type="hidden" th:value="${var.isWater_place()}"/>
                                <input name="build_date" type="hidden" th:value="${var.getBuild_date()}"/>
                                <input name="city_id" type="hidden" th:value="${var.getCity_id()}"/>
                                <button type="submit" class="btn btn-outline-primary"><img th:src="@{/img/refactor.png}" alt=""/></button>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="@{/park/remove}" th:object="${var}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <button type="submit" class="btn btn-outline-primary"><img
                                        th:src="@{/img/remove.png}" alt=""/></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 border px-4">
                <form method="POST" th:action="@{/park/save}" th:object="${park}">
                    <div class="mb-3">
                        <br> <label class="col-sm-3 col-form-label">Добавление парка</label>
                        <div class="col-sm-6">

                            <label for="city" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-7">
                                <select style="width: 200%" th:field="*{city_id}" name="city" id="city"
                                        class="form-control">
                                    <option th:value="-1">Выберите город</option>
                                    <option th:each="var : ${cities}" th:value="${var.getId()}"
                                            th:text="${var.getName()}"></option>
                                </select>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('city_id')}"
                                     th:errors="*{city_id}"></div>
                            </div>


                            <label for="name" class="col-sm-3 col-form-label">Название</label>
                            <input type="text" name="inputname" class="form-control" id="name" th:field="*{name}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}"
                                 th:errors="*{name}"></div>


                            <label for="type" class="col-sm-3 col-form-label">Тип парка</label>
                            <input type="text" name="inputtype" class="form-control" id="type" th:field="*{type}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('type')}"
                                 th:errors="*{type}"></div>

                            <label for="waterplace" class="col-sm-3 col-form-label">Водоем</label>
                            <input type="checkbox" name="inputwaterplace" id="waterplace" th:field="*{water_place}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('water_place')}"
                                 th:errors="*{water_place}"></div>
                            <br>
                            <label for="build" class="col-sm-3 col-form-label">Дата строительства</label>
                            <input type="date" name="inputbuild" class="form-control" id="build" th:field="*{build_date}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('build_date')}"
                                 th:errors="*{build_date}"></div>
                        </div>
                    </div>
                    <p>
                        <br>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <br>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>